<!DOCTYPE html>
<html lang="ua">
<head>
	<meta charset="UTF-8">
	<title>Про нас | ТЕХНОLAB</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/about_us.css">
	<link rel="shortcut icon" type="image/jpg" href="images/favicon.jpg"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="js/jquery-3.6.0.slim.min.js"></script>
	<script src="https://kit.fontawesome.com/79e95de053.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/header.js"></script>
</head>

<body>
	<header id="mobile_btn">
		<div class="header-bg"></div>
			<button type="button">
				<i class="fa-solid fa-bars"></i>
			</button>
		<div id="buttons">
			<a href="../index.html" >ГОЛОВНА</a>
			<a href="" class="active">ПРО НАС</a>
			<a href="services.html">ПОСЛУГИ</a>
			<a href="contacts.html">КОНТАКТИ</a>
		</div>
	</header>
	
	<header>
		<div class="header-bg"></div>
		<a href="../index.html" class="name">ТЕХНОLAB</a>
		<a href="../index.html">ГОЛОВНА</a>
		<a href="" class="active">ПРО НАС</a>
		<a href="services.html">ПОСЛУГИ</a>
		<a href="contacts.html">КОНТАКТИ</a>
	</header>

	<main>
		<h1>Про нас</h1>


		<section>
			<h2>Вітаємо у <span style="color: limegreen;">ТЕХНОLAB</span></h2> <p>– вашому надійному партнеру у світі технологій та інновацій. Ми – команда професіоналів, які віддані ідеям передового розвитку та якісних рішень у сфері інформаційних технологій.</p>

			<p>В основі нашої роботи лежить прагнення до досконалості та інновацій. Ми створюємо не просто продукти, а технологічні рішення, що змінюють світ на краще. Наша місія – надихати, розвивати та спрощувати життя людей, використовуючи передові технології.</p>
				
			<p>Ми спеціалізуємося на розробці програмного забезпечення, веб-розробці, мобільних додатках, а також консультуванні та підтримці в галузі інформаційних технологій. Наш досвід та професіоналізм дозволяють нам створювати індивідуальні рішення, що відповідають потребам наших клієнтів.</p>
				
			<p>У ТехноLab ми пишаємося нашими проектами та прагнемо до того, щоб кожне наше рішення стало еталоном якості та інновацій. Приєднуйтесь до нас у подорожі у світі технологій, де кожен код – це крок вперед до майбутнього.</p>
		</section>
	</main>

	<footer>
		<p>
			© ТЕХНОLAB Co. Всі права захищені.
			<br>
			Сайт створений: <a href="">Костоломовою Дар’єю</a>
			<br>
			<a href="">Прокопчуком Даніїлом</a>
		</p>
	</footer>
</body>
</html>