<!DOCTYPE html>
<html lang="ua">
<head>
	<meta charset="UTF-8">
	<title>Контакти | ТЕХНОLAB</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/contacts.css">
	<link rel="shortcut icon" type="image/jpg" href="images/favicon.jpg"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="js/jquery-3.6.0.slim.min.js"></script>
	<script src="https://kit.fontawesome.com/79e95de053.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/header.js"></script>
</head>

<body>
	<header id="mobile_btn">
		<div class="header-bg"></div>
			<button type="button">
				<i class="fa-solid fa-bars"></i>
			</button>
		<div id="buttons">
			<a href="../index.html" >ГОЛОВНА</a>
			<a href="about_us.html" >ПРО НАС</a>
			<a href="services.html">ПОСЛУГИ</a>
			<a href="" class="active">КОНТАКТИ</a>
		</div>
	</header>
	
	<header>
		<div class="header-bg"></div>
		<a href="../index.html" class="name">ТЕХНОLAB</a>
		<a href="../index.html">ГОЛОВНА</a>
		<a href="about_us.html">ПРО НАС</a>
		<a href="services.html">ПОСЛУГИ</a>
		<a href="" class="active">КОНТАКТИ</a>
	</header>

	<main>
		<h1>Наші контакти</h1>


		<section>
			<p><span>Електронна пошта:</span> info@technolab-inc.com</p>
			<p><span>Телефон:</span> +1 (555) 123-4567 </p>
			<p><span>Адреса:</span> 123 Main Street, Cityville, State</p>
			<p><span>Skype:</span> technolab_support</p>
			<p><span>Facebook:</span>  facebook.com/technolab</p>
			<p><span>Twitter:</span>  @technolab_tweets</p>
			<p><span>Instagram:</span>  @technolab_photos</p>
			<p><span>LinkedIn:</span>  linkedin.com/company/technolab-inc</p>
			<p><span>Години роботи:</span>  понеділок - п'ятниця, з 9:00 до 17:00 (GMT-5)</p>
		</section>
	</main>

	<footer>
		<p>
			© ТЕХНОLAB Co. Всі права захищені.
			<br>
			Сайт створений: <a href="">Костоломовою Дар’єю</a>
			<br>
			<a href="">Прокопчуком Даніїлом</a>
		</p>
	</footer>
</body>
</html>