<!DOCTYPE html>
<html lang="ua">
<head>
	<meta charset="UTF-8">
	<title>Послуги | ТЕХНОLAB</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/services.css">
	<link rel="shortcut icon" type="image/jpg" href="images/favicon.jpg"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="js/jquery-3.6.0.slim.min.js"></script>
	<script src="https://kit.fontawesome.com/79e95de053.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/header.js"></script>
</head>

<body>
	<header id="mobile_btn">
		<div class="header-bg"></div>
			<button type="button">
				<i class="fa-solid fa-bars"></i>
			</button>
		<div id="buttons">
			<a href="../index.html" >ГОЛОВНА</a>
			<a href="about_us.html">ПРО НАС</a>
			<a href="" class="active">ПОСЛУГИ</a>
			<a href="contacts.html">КОНТАКТИ</a>
		</div>
	</header>
	
	<header>
		<div class="header-bg"></div>
		<a href="../index.html" class="name">ТЕХНОLAB</a>
		<a href="../index.html">ГОЛОВНА</a>
		<a href="about_us.html">ПРО НАС</a>
		<a href="" class="active">ПОСЛУГИ</a>
		<a href="contacts.html">КОНТАКТИ</a>
	</header>

	<main>
		<h1>Наші послуги</h1>

		<div class="container">
			<aside>
				<div class="inside">
					<h2>Розробка веб-додатків</h2>
					<p href="">Наша команда експертів готова розробити веб-додатки різного рівня складності та функціональності, від статичних сайтів до складних вебплатформ.</p>
				</div>
			</aside>
			<aside>
				<div class="inside">
					<h2>Мобільний додаток розробки</h2>
					<p href="">Ми створюємо мобільні додатки для платформ Android та iOS, забезпечуючи високу якість і функціональність.</p>
				</div>
			</aside>
			<aside>
				<div class="inside">
					<h2>Консультування та інтеграція</h2>
					<p href="">Ми надаємо консультації щодо вибору технологій, а також інтегруємо різні системи та рішення для оптимізації бізнес-процесів.</p>
				</div>
			</aside>
			<aside>
				<div class="inside">
					<h2>UX/UI дизайн</h2>
					<p href="">Наші дизайнери створюють інтуїтивно зрозумілі та естетично привабливі інтерфейси для вебсайтів та додатків.</p>
				</div>
			</aside>
			<aside>
				<div class="inside">
					<h2>Тестування та QA</h2>
					<p href="">Ми забезпечуємо високу якість програмного забезпечення через проведення тестування, аудиту та усунення помилок.</p>
				</div>
			</aside>
			<aside>
				<div class="inside">
					<h2>Супровід та підтримка</h2>
					<p href="">Ми готові надавати послуги технічної підтримки, а також розвивати та вдосконалювати ваші цифрові продукти з часом.</p>
				</div>
			</aside>
		</div>
	</main>

	<footer>
		<p>
			© ТЕХНОLAB Co. Всі права захищені.
			<br>
			Сайт створений: <a href="">Костоломовою Дар’єю</a>
			<br>
			<a href="">Прокопчуком Даніїлом</a>
		</p>
	</footer>
</body>
</html>